* {
    margin: 0;
}
/* header */
.col{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col-2 .mur{
    display: flex;
    justify-content: space-between;
}
.col-3{
    background-color: white;
    border-radius: 10px;
    width: 400px; 
    padding: 5px 5px;  
}
.cta{
    background-color: rgb(243, 230, 207);
    padding: 10px 25px;
    border-radius: 20px;
    color: orange;
}
.mur li{
    padding: 30px 25px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.vip{
    background-color: orange;
    padding: 10px 25px;
    border-radius: 25px;
    color: aliceblue;
}
.background-blue{
    background-color: lightblue;
}
footer{
    background-color: rgb(2, 65, 141);
}
.more{
    color: orange;
}
h1{
    width: 70%;
    font-size: 60px;
    padding: 10px;
}
h2{
    width: 60%;
    font-size: 30px;
}
.experience{
    width: 640px;
    height: 280px;
}
.too{
    font-size: 50px;
    color: orange;
}
.second-1{
    width: 60%;
    padding: 3rem;
    font-size: large;
}
.col-2{
    padding: 30px;
}